<!-- Default home page -->
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->

<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="http://sailsjs.org/images/sails-logo.jpg" />
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title"><%= __('Welcome') %></h1>
        <h2>Getting started</h2>
        <p>Don't worry, we've got your back.</p>
        <div class="steps">
            <ul class="getting-started">
                <li>
                    <div class="sprite one"></div>
                    <div>
                        <h3>Get your API going.</h3>
                        <p>
                            Run <span class="boxy">sails generate foo</span>.  This will create a model <span class="boxy">Foo</span> and controller <span class="boxy">FooController</span>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sprite two"></div>
                    <div>
                        <h3>
                            Lift your app.
                        </h3>
                        <p>
                            Run <span class="boxy">sails lift</span> to start up your app.  If you visit <span class="boxy">http://localhost:1337/foo</span> in your browser, you'll see a socket.io-compatible REST API was generated for your 'Foo' model.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sprite three"></div>
                    <div>
                        <h3>
                            Dive in and start building.
                        </h3>
                        <p>From here, you can modify your models, create custom controller methods as Express middleware, and create custom routes (routes are set up in <span class="boxy">config/routes.js</span>).  Visit <a href="http://sailsjs.org">the Sails website</a> for more information on next steps.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="delete">
            <div class="sprite">You're looking at: <span class="boxy">views/home/index.ejs</span></div>
        </div>
    </div>
    <div class="side-bar">
        <h4 id="new">
            New to Sails?
        </h4>
        <ul>
            <li>
                <a href="http://sailsjs.org">Visit sailsjs.org</a>
            </li>
            <li>
                <a href="http://sailsjs.org/#!documentation">Documentation</a>
            </li>
        </ul>
        <h4>
            Next Steps
        </h4>
        <ul>
            <li class="sprite single_page">
                <a target="_blank" href="http://sailsjs.org">Build a single page app</a>
            </li>
            <li class="sprite traditional">
                <a target="_blank" href="http://sailsjs.org">Build a traditional webapp</a>
            </li>
            <li class="sprite realtime">
                <a target="_blank" href="http://sailsjs.org">Build a realtime app</a>
            </li>
            <li class="sprite api">
                <a target="_blank" href="http://sailsjs.org">Build an API</a>
            </li>
        </ul>
    </div>
</div>
